.form__sect {
  padding-top: 48px;
  background: #f2f2f2;
  padding-bottom: 48px; 
}

.form {
  display: flex;
  justify-content: space-between;
}

.form__input {
  padding: 18px 270px 18px 74px;
  background: #ffffff;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  border: none;
  /* position: relative; */
}

.form__input:focus {
  outline: none;
}

.form__input::after {
  content: '';
  width: 18px;
  height: 18px;
  position: absolute;
  z-index: 10;
  background-image: url('./Search__svg.svg');
  top: 20px;
}

.form__select {
  background: #ffffff;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  padding: 18px 77px 18px 24px;
  border: none;
}
.form__select:focus {
  outline: none;
}
